@charset "utf-8";
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Space-Grotesk";
    src: url("fonts/SpaceGrotesk-Regular.ttf") format('truetype');
    font-weight: bold;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("fonts/Helvetica.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monofonto";
    src: url("fonts/Typodermic\ -\ Monofonto\ Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: pink;
    cursor: url(img/cursor.svg), auto;
    width: 100%;
    min-width: 1920px; /* no estoy segura de estar aplicando bien esto*/

}

h1 { 
    font-family: "Space-Grotesk", sans-serif;
    font-size: 12rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Space-Grotesk', sans-serif;
    font-size: 6.875rem;
    text-transform: uppercase;
}

h3{
    font-size: 70px;
    font-family: 'Monofonto', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
}

h4{
    font-family: 'Monofonto', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 100;
}

h5{
    font-family: 'Monofonto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

h2, h3, h4, h5 {
    color: #3423A3;
}

.textos-lectura-30px{
    color:#3423A3;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
}

.textos-lectura-24px{
    color:#3423A3;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
}

.botones {
    font-size: 1.3rem;
    text-decoration: none;
    color:#FF8FA7;
    text-transform: uppercase;
    font-family: 'Monofonto', sans-serif;
    padding: 1rem;
    border: 1px solid #FF8FA7;
    border-radius: 2em;
}

/* ------------------INDEX-INICIO------------------*/
#index {
    background-color: #3423A3;
    color: #FF8FA7;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1920px;

}

.flor-giratoria {
    width: 420px;
    height: 100%;
    animation-name: flor;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}

@keyframes flor{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.paquete1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index p {
    font-family: "Monofonto", sans-serif;
    font-size: 3rem;
    letter-spacing: 20px;
    text-transform: uppercase;
    padding: 0px 0px 30px 0px;
}

.pagina-principal { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comenzar {
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Monofonto', sans-serif;
    text-transform: uppercase;
    color: #FF8FA7;
    border-radius: 40px;
    border: 3px solid #FF8FA7;
    padding: 13px 43px;
}

/* ------------------INDEX-final------------------*/




/* -------------SOBRE-MI------------------*/


#header-sobremi {
    background-color: #3423A3;
    color: #FF8FA7;
    padding: 7rem 0rem 0rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 4rem;
}

.fotoperfil {
    border: 6px solid #3423a3;
    border-radius: 3em;
}

.contenedor-nav {
    display: flex;
    gap: 3rem;
}

#subtitulo-header {
    color:#FF8FA7;
    font-family: 'Monofonto', sans-serif;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 1.9rem;
    text-transform: uppercase;
}

.botonera {
    display: flex;
    gap: 2rem;
}

.seccion1 {
    padding-left: 5rem;
}


.info-principal{
    width: 85%;
    /* height: 71vh; */
    display: flex;
    padding: 4em 0em 4em 0em;
    gap: 2rem;
}

.titulo-quiensoy{
    padding: 1em 0em;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.paquetes-textos{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    gap: 2rem;
}

.paquetes-textos2{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.imgs-habilidades {
    display: flex;
    gap: 1rem;
}

.seccion2{
    background-color: #FF8FA7;
    /* padding-left: 5rem; */
    display: flex;
    flex-direction: column;
    padding: 4rem 15rem 5rem 5rem;
    gap: 2rem;
}

.titulos-hover {
    display: flex;
    gap: 30px;
}

a{
    text-decoration: none;
}

.ilustraciones:hover{
    background-color: #D2CCFA;
    transition: 1s;
}

.personajes:hover{
    background-color: #D2CCFA;
    transition: 1s;
}

.diseno-grafico:hover{
    background-color: #D2CCFA;
    transition: 1s;
}

.lettering:hover{
    background-color: #D2CCFA;
    transition: 1s;
}

.info-ilustracion{
    width: 59%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* ------------- fin SOBRE-MI------------------*/




/* -------------CONTACTO------------------*/
.page-contacto {
    background-color: #D2CCFA;
}

#header-contacto {
    padding: 7rem 0rem 0rem 5rem;
    display: flex;
    gap: 3rem;
    padding-bottom: 3rem;
}

.boton-contacto {
    font-size: 1.3rem;
    text-decoration: none;
    color:#3423A3;
    text-transform: uppercase;
    font-family: 'Monofonto', sans-serif;
    padding: 1rem;
    border: 1px solid #3423A3;
    border-radius: 2em;
}

.page-contacto section {
    padding: 0rem 0rem 8rem 5rem;
}

form {
    width: 84%;
    display: flex;
    color: #3423A3;
    font-family: 'Monofonto';
    font-size: 2em;
    text-transform: uppercase;
    gap: 2em;
    padding: 2em 0em 0em 0em;
}

form div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.botones-form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.botones-1y2 {
    padding: 1em;
    border-radius: 2em;
}

input{
    background-color: white;
    height: 74px;
    border: 3px solid #3423A3;
    border-radius: 36px;
    font-family: 'Monofonto';
    color: #3423A3;
    font-size: 23px;
    text-transform: uppercase;
    padding: 0em 3em 0em 2em;
}

textarea{
    height: 190px;
    border-radius: 1em;
    border: 3px solid #3423a3;
    font-size: 1em;
    padding: 20px 20px 20px 20px;
    color: #3423a3;
}


/* -------------fin CONTACTO------------------*/

/* -------------GALERIA------------------*/
.page-galeria{
    background-color: #3423A3;
}

#ilustraciones, #personajes, #p-galeria{
    color: #FF8FA7;
}

#p-galeria{
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;}

.seccion-galeria{
    padding: 0rem 0rem 4rem 5rem;
}

.apertura-galeria{ width: 52%;
    display: flex;
    flex-direction: column;
    gap: 1rem;}


/* -------------fin GALERIA------------------*/



/*------------------ FOOTER------------------ */
#footer {
    color: #FF8FA7;
    background-color: black;
    display: flex;
    padding: 3rem 8rem 3rem 5rem;
    align-items: center;
    gap: 16em;
}

#titulo-footer{
    color: #FF8FA7;
    font-weight: 100;
}

.texto-footer-20px{
    color: #FF8FA7;
    font-family: 'Helvetica', sans-serif;
}

#redes-sociales {
    display: flex;
    gap: 35px;
}