@charset "utf-8";
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "Space-Grotesk";
    src: url("fonts/SpaceGrotesk-Regular.ttf") format('truetype');
    font-weight: bold;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica";
    src: url("fonts/Helvetica.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monofonto";
    src: url("fonts/Typodermic\ -\ Monofonto\ Regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: pink;
    cursor: url(img/cursor.svg), auto;
}

h1 { 
    font-family: "Space-Grotesk", sans-serif;
    font-size: 12rem;
    text-transform: uppercase;
}

/* ------------------INDEX-INICIO------------------*/
#index {
    background-color: #3423A3;
    color: #FF8FA7;
    width: 100%;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1920px;

}

.flor-giratoria {
    width: 420px;
    height: 100%;
    animation-name: flor;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
}

@keyframes flor{
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

.paquete1 { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index p {
    font-family: "Monofonto", sans-serif;
    font-size: 3rem;
    letter-spacing: 20px;
    text-transform: uppercase;
    padding: 0px 0px 30px 0px;
}

.pagina-principal { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comenzar {
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Monofonto', sans-serif;
    text-transform: uppercase;
    color: #FF8FA7;
    border-radius: 40px;
    border: 3px solid #FF8FA7;
    padding: 13px 43px;
}

/* ------------------INDEX-final------------------*/


h2 {
    font-family: 'Space-Grotesk', sans-serif;
    font-size: 10rem;
}


.botones {
    font-size: 1.3rem;
    text-decoration: none;
    color:#FF8FA7;
    text-transform: uppercase;
    font-family: 'Monofonto', sans-serif;
    padding: 1rem;
    border: 1px solid #FF8FA7;
    border-radius: 2em;
}

main {
    padding-left: 5rem;
}


/* -------------SOBRE-MI------------------*/

/*header { 
    height: 42vh;
    width: 100%;
    background-color: #3423A3;
    color: #FF8FA7;
    padding: 7rem 0rem 0rem 5rem;
}*/

#header-sobremi {
    background-color: #3423A3;
    color: #FF8FA7;
    padding: 7rem 0rem 0rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
}

.contenedor-nav {
    display: flex;
    gap: 3rem;
}

#subtitulo-header {
    font-family: 'Monofonto', sans-serif;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2rem;
    text-transform: uppercase;
}

.botonera {
    display: flex;
    gap: 2rem;
}


/* ------------- fin SOBRE-MI------------------*/




/* -------------CONTACTO------------------*/
.page-contacto {
    background-color: #D2CCFA;
}

#header-contacto {
    width: 100%;
    padding: 7rem 0rem 0rem 5rem;
    display: flex;
    gap: 3rem;
    padding-bottom: 3rem;
}

.boton-contacto {
    font-size: 1.3rem;
    text-decoration: none;
    color:#3423A3;
    text-transform: uppercase;
    font-family: 'Monofonto', sans-serif;
    padding: 1rem;
    border: 1px solid #3423A3;
    border-radius: 2em;
}

/* -------------fin CONTACTO------------------*/

/* -------------GALERIA------------------*/



/*------------------ FOOTER------------------ */
footer {
    background-color: black;
    color: #FF8FA7;
    display: flex;
    padding: 3rem 15rem 3rem 10rem;
    align-items: center;
    justify-content: space-around;
}

#redes-sociales {
    display: flex;
    gap: 35px;
}